
@font-face {
    font-family: 'LouisGeorge';
    src: local('LouisGeorge'), url(./fonts/Louis-George-Cafe.ttf) format('truetype');
  }


  .bgl-week-table-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bgl-week-container{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

    .bgl-schedule-section-header-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .bgl-schedule-section-header{
        padding: 1rem 0;
        display: flex;
        align-items: center;
        text-align: center;
        width: 28rem;
        max-width: 95%;
    }
    
    .bgl-schedule-section-header::before, .bgl-schedule-section-header::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
    }

    .bgl-schedule-section-header:not(:empty)::before { margin-right: .5em; }
    .bgl-schedule-section-header:not(:empty)::after { margin-left: .5em; }


  .bgl-week-header{
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
  }

  .bgl-week-subheader{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .bgl-week-table{
    border-collapse: collapse;
    min-width: 24rem;
  }

  .player-row{
  }

  .placement-row{
    background-color: antiquewhite;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid gray;
  }

  .bgl-table-title-cell{
    font-weight: bold;
    padding: 0.2rem 1rem;
    border-right: 0.2rem solid white;
    vertical-align: bottom;
  }

  .bgl-table-cell{
    padding: 0.8rem 0.5rem 0.2rem;
    vertical-align: bottom;
    text-wrap: nowrap;
  }

  .bgl-table-subtitle-cell{
    /* font-weight: bold; */
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
    border-right: 0.15rem solid white;
    vertical-align: bottom;
  }
  .bgl-table-placement-cell{
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    vertical-align: bottom;
  }

.bgg-link-container{
    height: 0.8rem;
    padding-left: 0.5rem;
}
.bgg-link{
    max-height: 100%;
    cursor: pointer;
}
.headlines-link-container{
    height: 0.75rem;
    padding-left: 0.25rem;
}

.weekly-report-link-container{
    display: flex;
    align-items: center;
    padding-left: 0.35rem;
    flex-shrink: 0;
    height: 0.75rem;
    width: 0.75rem;
}

.weekly-report-link-container a{
    display: flex;
    align-items: center;
    line-height: 0;
}

.weekly-report-icon{
    max-height: 100%;
    max-width: 100%;
    display: block;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .bgl-week-table{
        min-width: 95vw;
    }
}